.env
.idea
*/vendor
*/mysql/data/*
*/rabbitmq/data/*
*.DS_Store
app/FrontendAssets/node_modules
app/FrontendAssets/img/user*
app/FrontendAssets/img/chat*
app/FrontendAssets/yarn-error.log
app/Admin/FrontendAssets/node_modules
app/Admin/FrontendAssets/dist
app/Admin/FrontendAssets/src/assets/lib
app/LovePlanetParser/node_modules