.form-group input[type=text], .form-group input[type=password], .form-group input[type=number], .form-group input[type=email] {
    /*height: 30px;*/
    border-radius: 3px;
    /*border: solid 1px #c5c5c5;*/
    padding: 10px;
    height: 40px;
    border: solid 1px #efefef;
    font-size: 14px;
}

.form-group {
    margin: 10px 0;
    display: flex;
    justify-content: left;
    margin-right: 20px;
}

.form-group input {
    margin-top: 10px;
}

.register form, .login form {
    width: 400px;
    border: solid 1px #efefef;
    border-radius: 4px;
    padding: 20px;
    background-color: white;
}
.register h1, .login h1 {
    margin: 0;
}
.register, .login {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.login .button-group, .register .button-group {
    margin-bottom: 0;
    margin-top: 20px;
    height: 44px;
}
.login .button-group button, .register .button-group button {
    margin-bottom: 0;
    width: 200px;
    background: linear-gradient(90deg, rgba(249,155,74,1) 0%, rgba(235,91,78,1) 35%, rgba(216,44,125,1) 100%);
    border: none;
}
.login .form-group input[type=email],
.register .form-group input[type=email],
.login .form-group input[type=password],
.register .form-group input[type=number],
.register .form-group input[type=password] {
    height: 40px;
    width: 200px;
    border-color: #efefef;
}

form .form-title {
    font-weight: 600;
    margin-top: 20px;
}

.button, a.button, button {
    -webkit-appearance: none;
    display: inline-block;
    border: 2px solid #5183f5;
    border-radius: 4px;
    background: #5183f5;
    color: #fff;
    font-weight: 600;
    font-family: BlinkMacSystemFont,-apple-system,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 1.1rem;
    text-transform: none;
    padding: .6rem .9rem;
    margin: 0 0 .5rem;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    line-height: 1;
}

.button-regular {
    background: white;
    border: none;
    color: #454545;
    font-weight: 400;
    padding: 0;
}
/*
MAIN BEGIN
 */
.main form {
    width: 600px;
    margin-top: 10px;
    border: solid 1px #efefef;
    border-radius: 3px;
    padding: 10px 0 0 0;
    background-color: white;
}

.main form h4, .main h3 {
    text-align: left;
    margin: 0 0 0 10px;
}

.main form h4 {
    margin-left: 20px;
    color: gray;
}

.main h3 {
    margin: 0;
}

.main form .search {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    padding-left: 20px;
}

.main .heading {
    display: flex;
}

.main form .age-group {
    display: block;
    margin-left: 20px;
}

.main form .age-group .range {
    display: flex;
}

.main form .age-group .range label {
    margin-right: 10px;
}

.main form .age-group .range label input {
    width: 50px;
    margin-left: 10px;
}

.main form .button-group {
    height: 44px;
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
    margin-right: 0;
    margin-top: 20px;
    margin-bottom: 10px;
}

.main form .button-group button, .button-group a.button {
    width: 162px;
    background: linear-gradient(90deg, rgba(249,155,74,1) 0%, rgba(235,91,78,1) 35%, rgba(216,44,125,1) 100%);
    border: none;
}

.results {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    margin-top: 10px;
}

.results .profile {
    margin-bottom: 20px;
}

.results .profile .image {
    width: 200px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 4px;
    background-color: #000000;
    background-position: center;
    margin-bottom: 4px;
}

.results .profile .about {
    color: #eb5b4e;
}

.results .profile .city {
    color: gray;
    font-weight: 400;
    line-height: 1rem;
}
@media (max-width: 470px) {
    .main .heading {
        display: block;
    }
    .main form {
        width: auto;
    }
    .main h3 {
        text-align: center;
    }
    .results {
        justify-content: center;
    }
    .results .profile {
        margin-right: 16px;
        margin-left: 16px;
    }
    .results .profile .image {
        height: 140px;
        width: 140px;
    }
}
@media (max-width: 386px) {
    .results {
        justify-content: flex-start;
    }
    .results .profile {
        display: flex;
    }
    .results .profile .image {
        margin-right: 20px;
    }
    .results .profile .about-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
/**
MAIN END
 */

/*
PROFILE PAGE BEGIN
 */
.profile-page {
    margin-top: 20px;
}
.profile-page .main-info {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.profile-page .main-info .avatar-box {
    flex: 1;
    margin-right: 20px;
}
.profile-page .main-info .title {
    flex: 3;
}
.profile-page .main-info .title h1 {
    margin: 0;
}
.profile-page .main-info .avatar {
    height: 120px;
    width: 120px;
    border-radius: 120px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: black;
}
.profile-page .main-info .title .button-group {
    margin-top: 10px;
}
.profile-page .main-info .title .message-need-auth {
    font-size: 14px;
}
.profile-page .about {
    margin-top: 20px;
}
/*
PROFILE PAGE END
 */
/*
SEARCH PAGE BEGIN
 */
.search-page form {
    width: 416px;
}
.search-page form .search {
    justify-content: flex-start;
}
.search-page form .search .sex-group {
    min-width: 180px;
}
.search-page .results {
    margin-top: 24px;
}
@media (max-width: 470px) {
    .search-page form {
        width: auto;
    }
}
/*
SEARCH PAGE END
 */
/*
CHAT PAGE BEGIN
 */
.chats {
    margin: auto;
    max-width: 850px;
    background-color: white;
    height: calc(100vh - 124px);
    border-radius: 3px;
    border: 1px solid #efefef;
    font-size: 13px;
}
.chats .heading {
    padding: 18px;
}
.chats .chat-list .profile {
    display: flex;
    justify-content: flex-start;
    padding: 10px 18px;
}
.chats .chat-list .profile .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.chats .chat-list .profile .image {
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #000000;
    background-position: center;
    border-radius: 40px;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.chats .chat-list .profile .about .title {
    color: #1f1f1f;
}
.chats .chat-list .profile .about .message {
    color: #5f5f5f;
    font-weight: 400;
}
.chats .chat-list .profile:hover {
    background-color: rgb(255, 242, 241);
}
.chats .chat-view {
    display: flex;
}
.chats .chat-view .chat-list {
    flex: 4;
}
.chats .chat-view .messages {
    flex: 9;
}
.chats .chat-view .messages {
    border-left: 1px solid #efefef;
    /*padding-left: 40px;*/
}
.chats .chat-view .messages .messages-list {
    height: calc(100vh - 236px);
    overflow-y: scroll;
    margin-left: 24px;
}
.chats .chat-view .messages form {
    border-top: 1px solid #efefef;
    padding: 12px 0 12px 24px;
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.chats .chat-view .messages form input {
    outline: none;
    border: none;
    font-size: 14px;
    width: 100%;
}
.chats .chat-view .messages form button {
    background: none;
    border: none;
    color: #e03a3d;
    font-size: 14px;
    margin: 0;
}
.chats .chat-view .messages .message {
    margin: 10px 0;
}
.chats .chat-view .messages .message .about .title {
    text-align: left;
    font-weight: 600;
    color: rgb(224, 58, 61);
}
.chats .chat-view .messages .message .about .title .time {
    font-weight: 400;
    /*font-size: 13px;*/
    color: #afafaf;
    margin-left: 10px;
}
.chats .chat-view .messages .message .content {
    line-height: 1.4rem;
    color: black;
}

.chats .block .profile .image {
    width: 70px;
    height: 70px;
    border-radius: 4px;
    margin: auto 20px auto 0;
}

.chats .block .profile .about {
    text-align: left;
    margin: auto 0;
}

.chats .block .profile .about .message {
    font-size: 14px;
    color: gray;
    font-weight: 400;
}

.chat .block {
    margin: 10px auto 20px auto;
    width: 400px;
    border: solid 1px #e4e4e4;
    border-radius: 4px;
    box-shadow: 0 0 5px #dadada;
    text-align: center;
}
@media (max-width: 680px) {
    .chats .chat-list {
        display: none;
    }
    .chats .chat-view .messages {
        border: none;
    }
}
/*
CHAT PAGE END
 */
.pagination {
    padding: 20px 0 20px 0;
    display: flex;
    justify-content: flex-start;
}
.button:hover {
    background: #0062cc;
}
.page-button {
    display: inline-block;
    padding: .5rem .75rem;
    border: 2px solid rgba(249,155,74,1);
    border-radius: 3px;
    color: #5f5f5f;
    font-size: 1rem;
    font-weight: 500;
    margin: 0 1rem 0 0;
}
.page-button:hover {
    text-decoration: none;
    color: inherit;
}
.page-button.active {
    background: rgba(249,155,74,1);
    color: white;
}