.form-group input[type=text], .form-group input[type=password], .form-group input[type=number], .form-group input[type=email], .form-group select {
    /*height: 30px;*/
    border-radius: 3px;
    /*border: solid 1px #c5c5c5;*/
    padding: 10px;
    height: 40px;
    border: solid 1px #efefef;
    font-size: 14px;
}

.form-group {
    margin: 10px 0;
    display: flex;
    justify-content: left;
    margin-right: 20px;
}

.form-group input, .form-group select {
    margin-top: 10px;
}

.register form, .login form {
    width: 400px;
    border: solid 1px #efefef;
    border-radius: 4px;
    padding: 20px;
    background-color: white;
}
.register h1, .login h1 {
    margin: 0;
}
.register, .login {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.login .button-group, .register .button-group {
    margin-bottom: 0;
    margin-top: 20px;
    height: 44px;
}
.login .button-group button, .register .button-group button {
    margin-bottom: 0;
    width: 200px;
    background: linear-gradient(90deg, rgba(249,155,74,1) 0%, rgba(235,91,78,1) 35%, rgba(216,44,125,1) 100%);
    border: none;
}
.login .form-group input[type=email],
.register .form-group input[type=email],
.login .form-group input[type=password],
.register .form-group input[type=number],
.register .form-group input[type=password] {
    height: 40px;
    width: 200px;
    border-color: #efefef;
}

form .form-title {
    font-weight: 600;
    margin-top: 20px;
}

.button, a.button, button {
    -webkit-appearance: none;
    display: inline-block;
    border: 2px solid #5183f5;
    border-radius: 4px;
    background: #5183f5;
    color: #fff;
    font-weight: 600;
    font-family: BlinkMacSystemFont,-apple-system,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 1.1rem;
    text-transform: none;
    padding: .6rem .9rem;
    margin: 0 0 .5rem;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    line-height: 1;
}

.main form .button-group button, .button-group a.button {
    width: 162px;
    background: linear-gradient(90deg, rgba(249,155,74,1) 0%, rgba(235,91,78,1) 35%, rgba(216,44,125,1) 100%);
    border: none;
}

.button-regular {
    background: white;
    border: none;
    color: #454545;
    font-weight: 400;
    padding: 0;
    vertical-align: middle;
    text-align: center;
}

.button-group a.button-white, form button.button-white {
    background: white;
    border: #efefef;
    color: #454545;
    font-weight: 400;
    padding: 10px;
    vertical-align: middle;
    text-align: center;
}

.login-button {
    background: white;
    border: #efefef;
    color: #454545;
    padding: .6rem .9rem;
    border-radius: 3px;
}
.register-button {
    background: linear-gradient(90deg, rgba(249,155,74,1) 0%, rgba(235,91,78,1) 35%, rgba(216,44,125,1) 100%);
    border: none;
    color: white !important;
    padding: .6rem .9rem;
    border-radius: 3px;
}

@media (max-width: 386px) {
    .login-button, .register-button {
        font-size: 10px !important;
    }
}
/*
MAIN BEGIN
 */
.main form {
    width: 600px;
    margin-top: 10px;
    border: solid 1px #efefef;
    border-radius: 3px;
    padding: 10px 0 0 0;
    background-color: white;
}

.main form h4, .main h3 {
    text-align: left;
    margin: 0 0 0 10px;
}

.main form h4 {
    margin-left: 20px;
    color: gray;
}

.main h3 {
    margin: 0;
}

.main form .search {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    padding-left: 20px;
}

.main .heading {
    display: flex;
}

.main form .age-group {
    display: block;
    margin-left: 20px;
}

.main form .age-group .range {
    display: flex;
}

.main form .age-group .range label {
    margin-right: 10px;
}

.main form .age-group .range label input {
    width: 50px;
    margin-left: 10px;
}

.main form .button-group {
    height: 44px;
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
    margin-right: 0;
    margin-top: 20px;
    margin-bottom: 10px;
}

.results {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    margin-top: 10px;
}

.results .profile {
    margin-bottom: 20px;
}

.results .profile .image {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 4px;
    background-color: #f6f6f6;
    background-position: center;
    margin-bottom: 4px;
}
.results .profile .about {
    color: #eb5b4e;
}
.results .profile .status, .profile-page .main-info .title .status {
    font-weight: 400;
}
.results .profile .status {
    margin: -2px 0 2px 0;
    font-size: 13px;
}
.profile-page .main-info .title .status, .profile-page .main-info .title .city {
    font-size: 14px;
}
.results .profile .status .circle, .profile-page .main-info .title .status .circle {
    height: 6px;
    width: 6px;
    display: inline-block;
    border: none;
    border-radius: 20px;
    margin-bottom: 1px;
    margin-right: 4px;
}
.chat-list .profile .image .user-status-circle {
    height: 10px;
    width: 10px;
    position: absolute;
    border-radius: 10px;
    bottom: 3px;
    right: 1px;
}
.results .profile .status.active, .profile-page .main-info .title .status.active {
    color: #04ad04;
}
.results .profile .status.active .circle, .profile-page .main-info .title .status.active .circle, .chat-list .profile .image .user-status-circle.active {
    background-color: #04ad04;
}
.results .profile .status.recently, .profile-page .main-info .title .status.recently {
    color: rgba(216,44,125,1);
}
.results .profile .status.recently .circle, .profile-page .main-info .title .status.recently .circle, .chat-list .profile .image .user-status-circle.recently {
    background-color: rgba(216,44,125,1);
}
.results .profile .status.long, .profile-page .main-info .title .status.long {
    color: #838383;
}
.results .profile .status.long .circle, .profile-page .main-info .title .status.long .circle, .chat-list .profile .image .user-status-circle.long {
    background-color: #838383;
}
.results .profile .city {
    color: gray;
    font-weight: 400;
    line-height: 1rem;
    font-size: 13px;
}
@media (max-width: 470px) {
    .main .heading {
        display: block;
    }
    .main form {
        width: auto;
    }
    .main h3 {
        text-align: center;
    }
    .results {
        justify-content: center;
    }
    .results .profile {
        margin-right: 16px;
        margin-left: 16px;
    }
    .results .profile .image {
        height: 140px;
        width: 140px;
    }
}
@media (max-width: 386px) {
    .results {
        justify-content: flex-start;
    }
    .results .profile {
        display: flex;
    }
    .results .profile .image {
        margin-right: 20px;
    }
    .results .profile .about-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
/**
MAIN END
 */

/*
PROFILE PAGE BEGIN
 */
.profile-page {
    margin-top: 20px;
}
.profile-page .main-info {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.profile-page .main-info .avatar-box {
    flex: 1;
    margin-right: 20px;
}
.profile-page .main-info .title {
    flex: 3;
}
.profile-page .main-info .title h1 {
    margin: 0;
}
.profile-page .main-info .avatar {
    height: 120px;
    width: 120px;
    border-radius: 120px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #f6f6f6;
}
.profile-page .main-info .title .button-group {
    margin-top: 10px;
}
.profile-page .main-info .title .message-need-auth {
    font-size: 14px;
}
.profile-page .about {
    margin-top: 20px;
}
/*
PROFILE PAGE END
 */
/*
SEARCH PAGE BEGIN
 */
.search-page form {
    width: 416px;
}
.search-page form .search {
    justify-content: flex-start;
}
.search-page form .search .sex-group {
    min-width: 180px;
}
.search-page .results {
    margin-top: 24px;
}
@media (max-width: 470px) {
    .search-page form {
        width: auto;
    }
}
/*
SEARCH PAGE END
 */
/*
CHAT PAGE BEGIN
 */
.chats {
    margin: auto;
    max-width: 850px;
    background-color: white;
    height: calc(100vh - 124px);
    border-radius: 3px;
    border: 1px solid #efefef;
    font-size: 13px;
}
.chats .heading {
    padding: 18px;
}
.chats .chat-list .profile {
    display: flex;
    justify-content: flex-start;
    padding: 10px 18px;
    position: relative;
}
.chats .chat-list .profile .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.chats .chat-list .profile .image {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f6f6f6;
    background-position: center;
    border-radius: 40px;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    position: relative;
}
.chats .chat-list .profile .about .title {
    color: #1f1f1f;
}
.chats .chat-list .active-chat .about .title {
    color: #fff;
}
.chats .chat-list .profile .about .message {
    color: #5f5f5f;
    font-weight: 400;
}
.chats .chat-list .active-chat .about .message {
    color: #fff;
}
.chats .chat-list .profile:hover {
    background-color: rgb(255, 242, 241);
}
.chats .chat-list .active-chat, .chats .chat-list .active-chat:hover {
    background-color: #eb5b4e;
}
.chats .chat-view {
    display: flex;
}
.chats .chat-view .chat-list {
    flex: 4;
    overflow-y: scroll;
    height: calc(100vh - 180px);
}
.chats .chat-view .chat-list .profile .label {
    margin-left: 12px;
    /*position: absolute;*/
    /*right: 10px;*/
    background-color: rgba(235,91,78,1);
    color: white;
    font-size: 10px;
    height: 18px;
    width: 18px;
    border-radius: 18px;
    font-weight: 600;
    display: none;
    justify-content: center;
    align-items: center;
}
.chats .chat-view .messages {
    flex: 9;
}
.chats .chat-view .messages {
    border-left: 1px solid #efefef;
    /*padding-left: 40px;*/
}
.chats .chat-view .messages .messages-list {
    height: calc(100vh - 236px);
    overflow-y: scroll;
    margin-left: 24px;
    margin-right: 12px;
}
.chats .chat-view .messages form {
    border-top: 1px solid #efefef;
    padding: 12px 0 12px 24px;
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.chats .chat-view .messages form input {
    outline: none;
    border: none;
    font-size: 14px;
    width: 100%;
}
.chats .chat-view .messages form button {
    background: none;
    border: none;
    color: #e03a3d;
    font-size: 14px;
    margin: 0;
}
.chats .chat-view .messages .message {
    margin: 10px 0;
}
.chats .chat-view .messages .message .about .title {
    text-align: left;
    font-weight: 600;
    color: rgb(224, 58, 61);
}
.chats .chat-view .messages .message .about .title .time {
    font-weight: 400;
    /*font-size: 13px;*/
    color: #afafaf;
    margin-left: 10px;
}
.chats .chat-view .messages .message .content {
    line-height: 1.4rem;
    color: black;
}

.chats .block .profile .image {
    width: 70px;
    height: 70px;
    border-radius: 4px;
    margin: auto 20px auto 0;
}

.chats .block .profile .about {
    text-align: left;
    margin: auto 0;
}

.chats .block .profile .about .message {
    font-size: 14px;
    color: gray;
    font-weight: 400;
}

.chat .block {
    margin: 10px auto 20px auto;
    width: 400px;
    border: solid 1px #e4e4e4;
    border-radius: 4px;
    box-shadow: 0 0 5px #dadada;
    text-align: center;
}
@media (max-width: 680px) {
    #messages-page .chat-list {
        display: none;
    }
    #messages-page .chat-view .messages {
        border: none;
    }
    #chat-list-page .messages {
        display: none;
    }
}
/*
CHAT PAGE END
 */
.pagination {
    padding: 20px 0 20px 0;
    display: flex;
    justify-content: flex-start;
}
.button:hover {
    background: #0062cc;
}
.page-button {
    display: inline-block;
    padding: .5rem .75rem;
    border: 2px solid rgba(249,155,74,1);
    border-radius: 3px;
    color: #5f5f5f;
    font-size: 1rem;
    font-weight: 500;
    margin: 0 1rem 0 0;
}
.page-button:hover {
    text-decoration: none;
    color: inherit;
}
.page-button.active {
    background: rgba(249,155,74,1);
    color: white;
}
#message-notification {
    position: fixed;
    display: none;
    width: 280px;
    background-color: #000000c4;
    z-index: 5;
    top: 20px;
    left: 20px;
    border-radius: 10px;
    padding: 10px 14px;
    color: white;
    font-size: 13px;
}
#message-notification div.title {
    font-weight: 800;
    margin-bottom: 10px;
}
#message-notification .close {
    position: absolute;
    top: 10px;
    right: 12px;
    cursor: pointer;
}
#message-notification .body {
    display: flex;
}
#message-notification .body .user-image {
    background-size: cover;
    height: 50px;
    width: 50px;
    border-radius: 50px;
}
#message-notification .body .more {
    margin-left: 12px;
    color: white;
}
#message-notification .body .more span.user-name {
    font-weight: 600;
}
#message-notification .body .more span.user-message {
    font-weight: 400;
    margin-left: 5px;
}

#message-tip {
    position: absolute;
    background-color: rgba(235,91,78,1);
    color: white;
    font-size: 10px;
    height: 18px;
    width: 18px;
    border-radius: 18px;
    font-weight: 600;
    display: none;
    justify-content: center;
    align-items: center;
    /*bottom: 8px;*/
    /*margin-left: -3px;*/
    bottom: 17px;
    margin-left: -5px;
}

.choose-main-photo-form .image-list {
    display: flex;
    flex-wrap: wrap;
}
.choose-main-photo-form .image {
    background-size: cover;
    height: 120px;
    width: 120px;
    background-repeat: no-repeat;
    background-position: center center;
}

.profile-page .images {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 34px;
}
.profile-page .images .image {
    background-size: cover;
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 3px;
    margin-bottom: 12px;
    margin-right: 12px;
    cursor: pointer;
}

#image-view {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 6;
    background-color: #000000c9;
    display: flex;
    justify-content: center;
    align-items: center;
}
#image-view .content {
    /*height: 80%;*/
    /*width: 70%;*/
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 3px;
}

.pac-container {
    z-index: 10;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1) !important;
    border-radius: 0 0 4px 4px !important;
    border-top: none !important;
    border: 1px solid #dedede;
}
.pac-logo:after {
    display: none;
}
.pac-icon {
    display: none;
}
.pac-item-query {
    margin-left: 6px;
    font-size: 14px !important;
}
.pac-item {
    border-top: 1px solid #efefef !important;
    line-height: 40px !important;
}

/* SELECT 2 START */
.select2-container--default .select2-selection--multiple {
    border-color: #efefef !important;
    min-height: 40px !important;
    padding-bottom: 4px;
    margin-top: 10px;
}
.select2-container--default .select2-search--inline .select2-search__field {
    font-size: 14px !important;
    height: 26px;
    margin-left: 4px;
}
.select2-container--default .select2-results > .select2-results__options {
    font-size: 14px;
}
.select2-container--open .select2-dropdown--below {
    border-color: #efefef;
    box-shadow: 0 1px 6px rgb(0, 0, 0, 0.1);
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    color: #454545 !important;
    background-color: #f6f6f6 !important;
}
.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #efefef !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #efefef !important;
    border: none !important;
    font-size: 14px !important;
    padding: 3px 6px !important;
    border-radius: 2px !important;
}
.select2-container--open .select2-dropdown--below {
    border-radius: 0 0 3px 3px;
}
