/* BACKGROUND MAIN */
.main-background {
    position: absolute;
    background-image: url('/img/story.jpg');
    background-position: center top;
    background-size: cover;
    width: 100%;
    height: 460px;
    margin-top: -30px;
}
.main-background .inner {
    background-color: #00000078;
    width: 100%;
    height: 100%;
}
.main-background.entry {
    height: calc(100vh - 40px);
    position: fixed;
}
@media (max-width: 620px) {
    .main-background.entry {
        height: calc(100vh - 30px);
    }
}

/* FORM ELEMENTS */
.form-group input[type=text], .form-group input[type=password], .form-group input[type=number], .form-group input[type=email], .form-group select {
    border-radius: 2px;
    padding: 10px;
    height: 40px;
    border: solid 1px #efefef;
    font-size: 14px;
}
.form-group {
    margin: 10px 0;
    display: flex;
    justify-content: left;
    margin-right: 20px;
}
.form-group input, .form-group select {
    margin-top: 10px;
}
form .form-title {
    font-weight: 600;
    margin-top: 20px;
}

.button, a.button, button {
    -webkit-appearance: none;
    display: inline-block;
    border: 2px solid #5183f5;
    border-radius: 2px;
    background: #5183f5;
    color: #fff;
    font-weight: 600;
    font-family: BlinkMacSystemFont,-apple-system,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 1.1rem;
    text-transform: none;
    padding: .6rem .9rem;
    margin: 0 0 .5rem;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    line-height: 1;
}
.button-regular {
    background: white;
    border: none;
    color: #454545;
    font-weight: 400;
    padding: 0;
    vertical-align: middle;
    text-align: center;
}

.button-group a.button-white, form button.button-white {
    background: white;
    border: 1px solid #ddd !important;
    color: #454545;
    padding: 10px;
    vertical-align: middle;
    text-align: center;
}

/* LOGIN / REGISTER PAGES */
.register form, .login form {
    width: 400px;
    border: solid 1px #efefef;
    border-radius: 4px;
    padding: 20px;
    background-color: white;
    z-index: 1;
}
.register h1, .login h1 {
    margin: 0;
}
.register, .login {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.login .button-group, .register .button-group {
    margin-bottom: 0;
    margin-top: 20px;
    height: 44px;
}
.login .button-group button, .register .button-group button {
    margin-bottom: 0;
    width: 200px;
    border: none;
}
.login .form-group input[type=email],
.register .form-group input[type=email],
.login .form-group input[type=password],
.register .form-group input[type=number],
.register .form-group input[type=password] {
    height: 40px;
    width: 200px;
    border-color: #efefef;
}
.login-button {
    background: white;
    border: #efefef;
    color: #454545;
    padding: .6rem .9rem;
    border-radius: 3px;
}
.register-button {
    background-color: #5183f5;
    border: none;
    color: white !important;
    padding: .6rem .9rem;
    border-radius: 3px;
    font-weight: 600 !important;
    font-size: 1.1rem !important;
}

@media (max-width: 386px) {
    .login-button, .register-button {
        font-size: 10px !important;
    }
}

/* MAIN BEGIN */
.main .heading {
    display: flex;
    margin-bottom: 38px;
    flex-wrap: wrap;
}
.main .heading .title {
    z-index: 1;
    flex: 1;
    color: white;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 40px;
    margin-right: 28px;
    line-height: 1.2;
}
.main .heading .title h1 {
    color: white;
    font-size: 48px;
    margin-bottom: -4px;
    margin-top: 0;
}
.main form .button-group button, .button-group a.button {
    width: 162px;
    border: none;
    border-radius: 2px;
}
.main form {
    z-index: 1;
    width: 320px;
    margin-top: 10px;
    border: solid 1px #efefef;
    border-radius: 2px;
    padding: 10px 0 0 0;
    background-color: white;
}
.main form h4, .main h3 {
    text-align: left;
    margin: 0 0 0 10px;
}
.main form h4 {
    margin-left: 20px;
    color: gray;
}
.main h3 {
    margin: 0;
}
.main form .search {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    padding-left: 20px;
}
.main form .age-group {
    display: block;
}
.main.search-page form .age-group {
    margin-left: 20px;
}
.main form .age-group .range {
    display: flex;
}
.main form .age-group .range label {
    margin-right: 10px;
}
.main form .age-group .range label input {
    width: 50px;
    font-size: 13px;
}
.main form .button-group {
    height: 44px;
    display: flex;
    justify-content: flex-start;
    margin: 12px 0 10px 20px;
}
@media (max-width: 680px) {
    .main-background {
        height: 544px;
    }
    .main .heading .title {
        padding-bottom: 4px;
    }
}
@media (max-width: 620px) {
    .main-background {
        height: 530px;
    }
}
@media (max-width: 600px) and (min-width: 561px) {
    .main-background {
        height: 450px;
    }
}
@media (max-width: 443px) {
    .main-background {
        height: 560px;
    }
}

/* SEARCH PAGE AND PROFILES ON MAIN PAGE */
.results {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    margin-top: 10px;
}
.results .profile {
    margin-bottom: 20px;
}
.results .profile .image {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2px;
    background-color: #f6f6f6;
    background-position: center;
    margin-bottom: 4px;
}
.results .profile .about {
    color: #1f1f1f;
}
.results .profile .status, .profile-page .main-info .title .status {
    font-weight: 400;
}
.results .profile .status {
    margin: -2px 0 2px 0;
    font-size: 13px;
}
.profile-page .main-info .title .status, .profile-page .main-info .title .city {
    font-size: 14px;
}
.results .profile .status .circle, .profile-page .main-info .title .status .circle {
    height: 6px;
    width: 6px;
    display: inline-block;
    border: none;
    border-radius: 20px;
    margin-bottom: 1px;
    margin-right: 4px;
}
.chat-list .profile .image .user-status-circle {
    height: 10px;
    width: 10px;
    position: absolute;
    border-radius: 10px;
    bottom: 3px;
    right: 1px;
}
.results .profile .status.active, .profile-page .main-info .title .status.active {
    color: #04ad04;
}
.results .profile .status.active .circle, .profile-page .main-info .title .status.active .circle, .chat-list .profile .image .user-status-circle.active {
    background-color: #04ad04;
}
.results .profile .status.recently, .profile-page .main-info .title .status.recently {
    color: rgba(216,44,125,1);
}
.results .profile .status.recently .circle, .profile-page .main-info .title .status.recently .circle, .chat-list .profile .image .user-status-circle.recently {
    background-color: rgba(216,44,125,1);
}
.results .profile .status.long, .profile-page .main-info .title .status.long {
    color: #838383;
}
.results .profile .status.long .circle, .profile-page .main-info .title .status.long .circle, .chat-list .profile .image .user-status-circle.long {
    background-color: #838383;
}
.results .profile .city {
    color: gray;
    font-weight: 400;
    line-height: 1rem;
    font-size: 13px;
}
@media (max-width: 470px) {
    .main form {
        width: auto;
    }
    .main h3 {
        text-align: center;
        margin-bottom: 20px;
    }
    .results {
        justify-content: center;
    }
    .results .profile {
        margin-right: 16px;
    }
    .results .profile .image {
        height: 140px;
        width: 140px;
    }
    .main .heading {
        margin-bottom: 32px;
    }
}
@media (max-width: 386px) {
    .results {
        justify-content: flex-start;
    }
    .results .profile {
        display: flex;
        margin-bottom: 10px;
    }
    .results .profile .image {
        margin-right: 20px;
    }
    .results .profile .about-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

/*
PROFILE PAGE BEGIN
 */
.profile-page {
    margin-top: 20px;
}
.profile-page .main-info {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.profile-page .main-info .avatar-box {
    margin-right: 20px;
    display: flex;
    align-items: center;
}
.profile-page .main-info .title {
    flex: 3;
}
.profile-page .main-info .title h1 {
    margin: 0;
}
.profile-page .main-info .avatar {
    height: 120px;
    width: 120px;
    border-radius: 2px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #f6f6f6;
}
.profile-page .main-info .title .button-group {
    margin-top: 10px;
}
.profile-page .main-info .title .message-need-auth {
    font-size: 14px;
}
.profile-page .about {
    margin-top: 20px;
}

/*
SEARCH PAGE BEGIN
 */
.search-page form {
    width: 100%;
    position: relative;
}
.search-page form .search-wrap, .main form .search-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.search-page form .search, .main form .search {
    justify-content: flex-start;
    flex-direction: column;
}
.search-page form .search .sex-group {
    min-width: 180px;
}
.search-page form .city-group, .main form .city-group {
    margin-left: 20px;
}
.search-page form .city-group label, .main form .city-group label {
    width: 269px;
}
.search-page .results {
    margin-top: 24px;
}
@media (max-width: 600px) {
    .search-page form, .main form {
        width: unset;
    }
}
@media (max-width: 470px) {
    .search-page form, .main form {
        width: auto;
    }
}
@media (max-width: 360px) {
    .search-page form, .main form {
        position: relative;
    }
    .search-page form .city-group label, .main form .city-group label {
        width: 100%;
    }
    .search-page form .city-group, .main form .city-group {
        width: 100%;
    }
}
.pagination {
    padding: 20px 0 20px 0;
    display: flex;
    justify-content: center;
}
.button:hover {
    background: #0062cc;
}
.page-button {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    border: 2px solid rgb(81, 131, 245);
    align-items: center;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 500;
    margin: 0 1rem 0 0;
    color: #5f5f5f;
}
.page-button:hover {
    text-decoration: none;
    color: inherit;
}
.page-button.active {
    background: rgb(81, 131, 245);
    color: white;
}

/*
CHAT PAGE BEGIN
 */
.chats {
    margin: auto;
    max-width: 850px;
    background-color: white;
    height: calc(100vh - 124px);
    border-radius: 2px;
    border: 1px solid #efefef;
    font-size: 13px;
}
.chats .heading {
    padding: 18px;
}
.chats .chat-list .profile {
    display: flex;
    justify-content: flex-start;
    padding: 10px 18px;
    position: relative;
}
.chats .chat-list .profile .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.chats .chat-list .profile .image {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f6f6f6;
    background-position: center;
    border-radius: 2px;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    position: relative;
}
.chats .chat-list .profile .about .title {
    color: #1f1f1f;
}
.chats .chat-list .active-chat .about .title {
    color: #fff;
}
.chats .chat-list .profile .about .message {
    color: #5f5f5f;
    font-weight: 400;
}
.chats .chat-list .active-chat .about .message {
    color: #fff;
}
.chats .chat-list .profile:hover {
    background-color: #f7f7f7;
}
.chats .chat-list .active-chat, .chats .chat-list .active-chat:hover {
    background-color: #5183f5;
}
.chats .chat-view {
    display: flex;
}
.chats .chat-view .chat-list {
    flex: 4;
    overflow-y: scroll;
    height: calc(100vh - 180px);
}
.chats .chat-view .chat-list .profile .label {
    margin-left: 12px;
    /*position: absolute;*/
    /*right: 10px;*/
    background-color: rgba(235,91,78,1);
    color: white;
    font-size: 10px;
    height: 18px;
    width: 18px;
    border-radius: 18px;
    font-weight: 600;
    display: none;
    justify-content: center;
    align-items: center;
}
.chats .chat-view .messages {
    flex: 9;
}
.chats .chat-view .messages {
    border-left: 1px solid #efefef;
    /*padding-left: 40px;*/
}
.chats .chat-view .messages .messages-list {
    height: calc(100vh - 236px);
    overflow-y: scroll;
    margin-left: 24px;
    margin-right: 12px;
}
.chats .chat-view .messages form {
    border-top: 1px solid #efefef;
    padding: 12px 0 12px 24px;
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.chats .chat-view .messages form input {
    outline: none;
    border: none;
    font-size: 14px;
    width: 100%;
}
.chats .chat-view .messages form button {
    background: none;
    border: none;
    color: #9b9b9b;
    font-size: 14px;
    margin: 0;
}
.chats .chat-view .messages .message {
    margin: 10px 0;
}
.chats .chat-view .messages .message .about .title {
    text-align: left;
    font-weight: 600;
    color: #999;
}
.chats .chat-view .messages .message .about .title .time {
    font-weight: 400;
    /*font-size: 13px;*/
    color: #afafaf;
    margin-left: 10px;
}
.chats .chat-view .messages .message .content {
    line-height: 1.4rem;
    color: black;
}
@media (max-width: 680px) {
    #messages-page .chat-list {
        display: none;
    }
    #messages-page .chat-view .messages {
        border: none;
    }
    #chat-list-page .messages {
        display: none;
    }
}

/* NOTIFICATIONS */
#message-notification {
    position: fixed;
    display: none;
    width: 280px;
    background-color: #000000c4;
    z-index: 5;
    top: 20px;
    left: 20px;
    border-radius: 10px;
    padding: 10px 14px;
    color: white;
    font-size: 13px;
}
#message-notification div.title {
    font-weight: 800;
    margin-bottom: 10px;
}
#message-notification .close {
    position: absolute;
    top: 10px;
    right: 12px;
    cursor: pointer;
}
#message-notification .body {
    display: flex;
}
#message-notification .body .user-image {
    background-size: cover;
    height: 50px;
    width: 50px;
    border-radius: 50px;
}
#message-notification .body .more {
    margin-left: 12px;
    color: white;
}
#message-notification .body .more span.user-name {
    font-weight: 600;
}
#message-notification .body .more span.user-message {
    font-weight: 400;
    margin-left: 5px;
}
#message-tip {
    position: absolute;
    background-color: rgba(235,91,78,1);
    color: white;
    font-size: 10px;
    height: 18px;
    width: 18px;
    border-radius: 18px;
    font-weight: 600;
    display: none;
    justify-content: center;
    align-items: center;
    /*bottom: 8px;*/
    /*margin-left: -3px;*/
    bottom: 17px;
    margin-left: -5px;
}

.profile-page .images {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 34px;
}
.profile-page .images .image {
    background-size: cover;
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 2px;
    margin-bottom: 12px;
    margin-right: 12px;
    cursor: pointer;
}
@media (max-width: 680px) {
    .profile-page .images .image {
        height: 150px;
        width: 150px;
    }
    .profile-page .images {
        justify-content: center;
    }
}
@media (max-width: 368px) {
    .profile-page .images .image {
        height: 120px;
        width: 120px;
    }
}

#image-view {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 6;
    background-color: #000000c9;
    display: flex;
    justify-content: center;
    align-items: center;
}
#image-view .content {
    /*height: 80%;*/
    /*width: 70%;*/
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 3px;
}

/* GOOGLE PLACES */
.pac-container {
    z-index: 10;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1) !important;
    border-radius: 0 0 4px 4px !important;
    border-top: none !important;
    border: 1px solid #dedede;
}
.pac-logo:after {
    display: none;
}
.pac-icon {
    display: none;
}
.pac-item-query {
    margin-left: 6px;
    font-size: 14px !important;
}
.pac-item {
    border-top: 1px solid #efefef !important;
    line-height: 40px !important;
}

/* SELECT 2 START */
.select2-container--default .select2-selection--multiple {
    border-color: #efefef !important;
    min-height: 40px !important;
    padding-bottom: 4px;
    margin-top: 10px;
}
.select2-container--default .select2-search--inline .select2-search__field {
    font-size: 14px !important;
    height: 26px;
    margin-left: 4px;
}
.select2-container--default .select2-results > .select2-results__options {
    font-size: 14px;
    box-shadow: 8px 20px 20px rgb(0,0,0,0.2)
}
.select2-container--open .select2-dropdown--below {
    border-color: #efefef;
    box-shadow: 0 1px 6px rgb(0, 0, 0, 0.1);
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    color: #454545 !important;
    background-color: #f6f6f6 !important;
}
.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #efefef !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #efefef !important;
    border: none !important;
    font-size: 14px !important;
    padding: 3px 6px !important;
    border-radius: 2px !important;
}
.select2-container--open .select2-dropdown--below {
    border-radius: 0 0 3px 3px;
}

/* PHOTOSWIPE */

.pswp__button--arrow--left:before, .pswp__button--arrow--right:before, .pswp__button--close {
    background-position: center !important;
    background-size: 24px 24px !important;
    background-color: unset !important;
}
.pswp__button--arrow--left:before {
    background-image: url('/svg/back.svg') !important;
}
.pswp__button--arrow--right:before {
    background-image: url('/svg/next.svg') !important;
}
.pswp__button--close {
    background-image: url('/svg/close.svg') !important;
    background-size: 14px 14px !important;
}
.pswp__ui--fit .pswp__top-bar, .pswp__ui--fit .pswp__caption, .pswp__top-bar, .pswp__caption {
    background-color: unset !important;
}
.pswp--zoom-allowed .pswp__img {
    cursor: default !important
}

/* PROFILE SETTINGS */
.profile-settings {
    margin: auto;
    max-width: 850px;
    background-color: white;
    height: calc(100vh - 124px);
    border-radius: 2px;
    border: 1px solid #efefef;
    font-size: 13px;
}
.profile-settings h1 {
    border-bottom: 1px solid #efefef;
    margin: 0;
    font-size: 20px;
    padding: 12px 16px;
}
.profile-settings .settings-view {
    display: flex;
}
.profile-settings .settings-view .setting-list {
    flex: 4;
    overflow-y: scroll;
    height: calc(100vh - 175px);
}
.profile-settings .settings-view .setting-list .setting {
    display: flex;
    justify-content: flex-start;
    padding: 10px 18px;
    position: relative;
}
.profile-settings .settings-view .setting-list .setting:hover {
    background-color: #f6f6f6;
}
.profile-settings .settings-view .setting-list .setting.active {
    background-color: #eee;
}
.profile-settings .settings-view .setting-list .setting .title-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.profile-settings .settings-view .setting-list .setting .title-wrap .title {
    color: #1f1f1f;
}
.profile-settings .settings-view .setting-list .setting.active .title-wrap .title {
    color: #454545;
}
.profile-settings .settings-view .window {
    flex: 9;
    border-left: 1px solid #efefef;
    padding-left: 24px;
    padding-right: 12px;
    overflow-y: scroll;
    height: calc(100vh - 175px);
}
.profile-settings .choose-main-photo-form .image-list {
    display: flex;
    flex-wrap: wrap;
}
.profile-settings .choose-main-photo-form .image-list label {
    position: relative;
}
.profile-settings .choose-main-photo-form .image-list label input {
    position: absolute;
    top: -4px;
    left: 4px;
}
.profile-settings .choose-main-photo-form .image {
    background-size: cover;
    height: 120px;
    width: 120px;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 2px;
}
.profile-settings .mobile-back {
    display: none;
}
@media (max-width: 680px) {
    .profile-settings .mobile-hide {
        display: none;
        transition: 0.6s;
    }
    .profile-settings .mobile-back {
        display: inline-block;
        vertical-align: sub;
        margin-right: 7px;
        width: 22px;
        height: 22px;
        border-radius: 20px;
        background-repeat: no-repeat;
        background-size: 16px 16px;
        background-image: url('/svg/menu.svg');
        background-position: center center;
    }
}
